    <div class="my_breadcrumb d-print-none">
          <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="https://tifd.org/texas-camp/">Texas Camp</a></li>
	  {% if registration.id %}
		<li class="breadcrumb-item"><a href="{% url 'camp:create'%}{{registration.id}}">My Registration</a></li>
          	<li class="breadcrumb-item"><a href="{% url 'camp:confirm' registration.id%}">Confirm</a></li>
          {% endif %}
  	{% if registration.agreecheckbox %}
          	<li class="breadcrumb-item"><a href="{% url 'camp:final' registration.id %}">Final Payment</a></li>
          {% endif %}
	{% if not registration.id %}
          <li class="breadcrumb-item"><a href="{% url 'camp:create'%}">New Registration</a></li>
          {% endif %}

        </ul>
   </div>

                {% if 'camp:final' in request.resolver_match.view_name %}
		{% endif %}

