                                <div class="row">
					<div class="col text-left">
						<div class="btn-group list-group-horizontal">
						<button type="button" class="m-2 btn btn-secondary" value="Add More" id="add_adult" onclick="AddAdult()">Add</button>
						</div>
					</div>


                                 <div class="col text-right">
                                   <div class="btn-group list-group-horizontal text-right "> <button type="submit" title="Save registration form" data-toggle="" class="m-2 btn btn-primary" value="Save">Save</button> </div>
                                {% if forloop.counter0 >= 0 %}
                                        {% if form.instance.pk %}
                                                <button type="button" title="Delete this member" class="btn btn-warning p-2 m-2" value="Delete-{{forloop.counter0}}" id="delete_{{type}}-{{forloop.counter0}}">Delete</button>
                                        {%else%}
					<button type="button" data-toggle="delete-tooltip" title="Delete this member" class="btn btn-warning p-2 m-2" value="Delete-{{forloop.counter0}}" id="delete_{{type}}-{{forloop.counter0}}">
                                     Delete</button>
                                 </div>
                                        {%endif%}
                                </div>

                                        <script>
						$( "#delete_{{type}}-{{forloop.counter0}}" ).click(function() {
                                                        var c=confirm("Are you sure you want to delete this member?");
                                                        if ( c == true ) {
								$( "#regform_adult-{{forloop.counter0}}" ).hide();
								$('#regform_adult-{{forloop.counter0}}').find('input').val('');
								//$('#regform_{{type}}-{{forloop.counter0}}').find('select').val('');
								$('#regform_adult-{{forloop.counter0}}').find('checkbox').val('');
                                                        }

                                                });
                                        </script>
                                        {% else %} </div> {%endif%}
                        </div>

