{% include "camp/header.html" %}
<div class="container ">

	<!--
<ul class="list-group">
	<button type="button" class="list-group-item list-group-item-action active">Texas Camp  {% now "Y" %} Registration Help</button>
	<li class="list-group-item">A <b>Part-time</b> registration means after lunch on Friday through close of Camp.</li>
	<li class="list-group-item"><b>Non-dancer</b> means any camper with physical challenges which prevent dancing, or a camper's family member who does not participate in Camp activities (classes, etc). Rate is not available to part-timie campers, scholarship recipients, or anyone receiving a staff discount.</li>
	<li class="list-group-item">Full scholarship recipients are required to pay the $15 annual TIFD membership fee</li>
	<li class="list-group-item">For camp details see the the <a href="https://tifd.org/texas-camp/">Texas Camp page on tifd.org</a></li>
	<li class="list-group-item">To apply for a scholarship please see our <a href="https://tifd.org/texas-camp/registration/">Registration Information Page</a> for details.</li>
	<li class="list-group-item">If you need further assitance or have other questions, feel free to contact us at payments [at] tifd.org</li>
	-->

</div>
