{% comment %}
{% extends 'membership/reports_header.html' %}
{% endcomment %}

{% block content %}


<form action="" method="post">

<div row>
<div class="col s2">

	    {% csrf_token %}

{{ children_formset.management_form }}
{{ children_formset.non_form_errors }}

{% for child_form in children_formset.forms %}
    {{ child_form.as_table }}
    <hr>

    {% if child_form.nested %}
        {{ child_form.nested.management_form }}
        {{ child_form.nested.non_form_errors }}

        {% for nested_form in child_form.nested.forms %}
            {{ nested_form.as.p }}
        {% endfor %}

    {% endif %}

{% endfor %}
 
    <input type="submit" value="Submit">
</form>

</div></div>
{% endblock %}

