<div class="col">
       <div class="align-center p-0 m-0 text-left bg-white">
			{% if user.is_authenticated %}
			<div class="bg-info text-dark"> Logged in as {{ user.username }}</div>
			{% endif %}
                <div class=row>
                        <div class="col align-self-end">
                                <img src="/static/img/TIFD-logo-horiz-blk.png" class="p-1 m-2 img-fluid">
                        </div>
                        <span class="align-self-end p-0 m-0">
                        <div class="col align-self-end ">

                                <p class=h3 class="p-0 m-0">Membership renewal form </p>
                        </div>
                        </span>
                </div>
                <div class="row">
                <div class="col-sm-12 p-2 m-2">
			<p class=h3>TIFD membership has its benefits!</p>
			<p class="h4">Your membership supports the growth of folk dancing activities in the Texas and the Southwest region. <br>
		</div>
		</div>

         </div>
</div>

