<script>

	  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });
</script>



<form method=GET action=? >

<div class=container-fluid >
<div class="form-group row justify-content-start ">
    <label for="year" class="col-sm-1 col-form-label">Select Year</label>
    <div class="col-sm-1">
        <select class="form-control" id=year value=year name="year" onchange='this.form.submit()'>
		{% for year in years %}
		<option value="{{ year.year }}"{% if thisyear == year.year %} selected {%endif%}>{{ year.year }}</option> 
		{% endfor %}
	</select>
    </div>
    </div>
  </div>
	<input type=submit name=btnsubmit value="submit" id=submitbutton>
</form>

	<script>
		var x = document.getElementById("submitbutton");
		x.style.display = "none";
	</script>
