{% extends 'registrar/bootstrap_header.html' %}

{% block content %}

{% if not pdf_view %}

<div class="d-flex" id="wrapper">
{% endif %}

{% if pdf_view %}
        <!-- STYLE FOR THE PDF VIEW ONLY -->
        <style>
        th, td {
          border-bottom: 1px solid #ddd;
        padding: 5px;
        }
        a {
          color: black;
          text-decoration:none;
        }
        .email { display:noe;}
        </style>

{% endif %}
<div class="container-fluid">
	<div class=row>
		<div class="col-sm-2 mt-2" id="left_pane">
			<!-- left content -->
		</div>

		<div class="col-sm-6 border mt-2" >
			<form method=POST>
				{%csrf_token%}
			          {{ approve_registration_form.management_form }}
				  {{ membership_person_form.management_form}}

				{{approve_registration_form.media}}
				<div class="row">
					<div class="col form-group pb-3 mb-3">
						<label>
				{{approve_registration_form.registration_status.label}}
						</label>
				{{approve_registration_form.registration_status}}
					</div>
					<div class="col">Registration id: <a href="{% url "camp:create_edit" registration.pk %}">{{registration.pk}}</a></div>
				</div>
				<div class=row>
					<div class="col form-group">
						<label>
				{{approve_registration_form.registrar_approval_note.label}}
						</label>
					</div>
				</div>
				<div class=row>
					<div class="col form-group">
						<label>
						</label>
				{{approve_registration_form.registrar_approval_note}}
					</div>
				</div>
				<div class=row>
					<div class="col form-group">
						<button type="submit" class="btn btn-primary" value="Save" id=save>Save</button>
					</div>
				 </div>

			<div class="row">
				<div class="col mt-4">
			Confirmation Email content:
				</div>
			</div>
			<div class="row">
				<div class="col border bg-light" >
				{{html_body|safe}}
				</div>
			</div>
		</div>

	<div class="col-sm-3 mt-2" id="right_pane">
		<p class="h4">TIFD membership information</p>
		{% if non_members %}
		<div class="bg-light p-3 m-3 container">
			<p class=h3>No membership</p>
			{% for p in non_members %}
			<div class="row">
				<div class="col">
			{{p.first_name}} {{p.last_name}}
				</div>
			</div>
			{%endfor%}
		</div>
		{%endif%}


		<table class="table">
			<th>Name<th>valid from<th>valid to

		{% for c in campers %}
		<tr>
			<td>{{c.first_name}} {{c.last_name}}</td>
			<td>{{c.temp_membership_valid_from}}</td>
			<td>{{c.temp_membership_valid_to}}</td>
		</tr>
		
		{%endfor%}

		</table>

	</div>
			</form>


	<script>
$("#save").click(function(){
  $("#save").addClass("btn-success");
  $("#save").removeClass("btn-primary");
  $("#save").html("");
  $("#save").html("Sending Email..");
});

	</script>

	<script>
CKEDITOR.on('instanceCreated', function (e) {
    e.editor.on('contentDom', function () {
        e.editor.document.on('keyup', function (event) {
            var str = CKEDITOR.instances['id_registrar_approval_note'].getData();
            document.getElementById("mirror1").innerHTML = str;
        }
      );
    });
 });

$(document).ready(function(){
            var str = CKEDITOR.instances['id_registrar_approval_note'].getData();
            document.getElementById("mirror1").innerHTML = str;
	});

</script>
	<script>
		$("#id_registration_status").val('5');
	</script>
{%endblock%}
