{% extends 'registrar/bootstrap_header.html' %}

{% block content %}

<!--
<div class="col s12">
<h3> Year: {{ thisyear }}</h3>
</div>
-->

{% if not pdf_view %}
          <a href="?pdf=1&year={{thisyear}}&q={{ request.GET.q }}"><button class="btn btn-success my-sm-0" type="submit">PDF</button></a>
          <a href="?year={{thisyear}}&q={{ request.GET.q }}&table=yes"><button class="btn btn-success my-sm-0" type="submit">TABLE</button></a>
          <a href="?csv=1&year={{thisyear}}&q={{ request.GET.q }}"><button class="btn btn-success my-sm-0" type="submit">CSV</button></a>
          {% endif %}

{% if request.GET.q and pdf_view %}
<p class="h3 bg-warning">Filter applied: "{{ request.GET.q }}"</p>

{% endif %}

{% if pdf_view %}

	<!-- STYLE FOR THE PDF VIEW ONLY -->
	<style>

	.outer  {
	padding: 20px;
		font-size:16px;
	}
	.addresslabel {
	padding: 0px;
	margin-top:20px;
	margin-bottom:20px;
	font-size:1.2em;
		border: none;
	}
	a {
	  color: black;
	  text-decoration:none;
	}
	.email { display:noe;}

	</style>

<!------- PDF VIEW-------->

<table class="outer">
	{% for address, result in extra.items %}
	{% if forloop.counter0|divisibleby:2 %}<tr class="outer">{%endif%}
	<td class="outer" valign="top">
		<table class="addresslabel">
            {% for n in result.name %}
			    <tr><td class=addresslabel nowrap>{{n|capfirst}}</td>
            {%endfor%}
			<tr><td class=addresslabel nowrap>{{result.registration__address1|default_if_none:"&nbsp;"}}</td>
			 {% if result.registration__address2 %}
			 <tr><td class=addresslabel nowrap>{{result.registration__address2|default_if_none:"&nbsp;"}}
			{% endif %}
			<tr><td class=addresslabel nowrap>{{result.registration__city|default_if_none:"&nbsp;"}} {{result.registration__state|default_if_none:"&nbsp;"}} {{result.registration__zip|default_if_none:"&nbsp;"}} 
			 {% if result.registration__country %}
			 <tr><td class=addresslabel nowrap>{{result.registration__country}}
			{% endif %}
		</table>
	{%endfor%}

{% else %}
		
<!------- NOT PDF VIEW-------->
<div class="row">

{% for address, result in extra.items %}
	 		<div class="col-md-4 mb-5 ml-5">
                {% for n in result.name %}
				    {{n|capfirst}}<br>
                {%endfor%}
				{{result.registration__address1|default_if_none:"&nbsp;"}}<br>
					 {% if result.registration__address2 %}
					{{result.registration__address2|default_if_none:"&nbsp;"}}
					{% endif %}
			 {{result.registration__city|default_if_none:"&nbsp;"}} {{result.registration__state|default_if_none:"&nbsp;"}} {{result.registration__zip|default_if_none:"&nbsp;"}} 
			 {% if result.registration__country %}<br>{{result.registration__country}} {% endif %}
			 <br>
			</div>
	{% endfor %}
	</div>


	{% endif %}
{% endblock %}

</div></div>
