{% include "camp/header.html" %}
{% include "camp/bootstrap-overrides.html" %}

<div class="container-fluid" style="background-color:#e6e6e6" >
<div class="container bg-white border border-secondary">

<div class=container>
	<div class="jumbotron p-5 m-5">
		<center>
		<h1>Oops!  You hit a bug.</h1>
			Don't worry - our web development team has been notified.<br><br>
			If you need immediate assistance, feel free to contact us at registrar@tifd.org
			<br><br>

		Sorry for the inconvenience.


	</div>
</div>
