{% include "camp/header.html" %}

{% load static %}

<div class="container ">
	  <div class="align-center p-0 m-0 text-left bg-white">
                        <div class="col align-self-end">
                                <img src="/static/img/TIFD-logo-horiz-blk.png" class="p-1 m-2 img-fluid">
                        </div>
	  </div>


	<div class="row pb-3">
		<div class="col">
			Sorry, camp registration for {{thisyear}} is currently closed.
		</div>
	</div>
	<div class="row">
		<div class="col">
			Check <a href="http://tifd.org">TIFD.org</a> for the latest updates<br>
			Or <a href="http://register.tifd.org/membership/">renew your TIFD membership</a> online.
			<br><br>Need help?  Contact us at registrar [at] tifd.org



