	<hr>
<div class="bg-light mt-4 p-1 m-3">
<p class="small"><i>
	Texas International Folk Dancers is a 501(C)(3) organization dedicated to the teaching and promotion of traditional dance, music, crafts and culture from around the world. People of all races and backgrounds are welcome to join us in our celebration of folk dancing and cultures that we present at our annual teaching camps.<br>
	<br>
	If you run into problems registering or have questions, comments, or suggestions about the online registration form, please contact us at registrar [at] tifd.org.</i>
</p>
</div>

